.HeaderSecundary {
    width: 100%;
    height: 300px;
    padding: 0 1rem ;
    background-color: #28293E;
}
.HeaderSecundary-background {
    width: 100%;
    height: 50vh;
    padding: 0 1rem ;
    background-repeat: no-repeat;
    background-size: 100%;
}

.HeaderSecundary-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    text-align: center;
    h2 {
        font-size: 50px;
        margin-bottom: 3rem;
        font-weight: 700;
    }
    h3 {
        font-size: 22px;
    }
}
