$bluey: #00538C;
$bluey-light: #5177DF;
$bluey-button: #3a5ece;
$blue-dark: #181E4B;
$blue-second: #28293E;
$purple: #5E6282;
$white: #FFF;
$yellow: #F1A501;
$yellow-light: #f9d65e;
$coral: #DF6951;
$grey: #686D77;
$grey-light: #e3e3e6;
$blue-light: #d5e8eb;
$color9:rgb(239,109,88);
$purple-light: #d9dff5;
$green-light: #cdf1e5;
$yellow-ultra: #fef7dd;
$blue-background: #f1f5f6;
$blue-text: #2f3c49;
$yello-icon: #fffcec;
$yello-icon-border: #fcf2c7;
$grey-text: #7b8294;
$blue-backgroundNewLatter: #060f36;

/* Medias Querys*/
$bp-new-small: 320px !default;
$bp-new-medium-simple: 640px !default;
$bp-new-medium: 768px !default;
$bp-new-medium-tablet: 880px !default;
$bp-new-medium-high: 1024px !default;
$bp-new-large: 1280px !default;
$bp-new-xlarge: 1440px !default;
$bp-new-homepage-max: 1500px !default;