$bluey: #00538C;
$bluey-light: #5177DF;
$blue-dark: #181E4B;
$blue-second: #28293E;
$purple: #5E6282;
$blanco: #FFF;

/* Medias Querys*/
$bp-new-small: 320px !default;
$bp-new-medium-simple: 640px !default;
$bp-new-medium: 768px !default;
$bp-new-medium-tablet: 880px !default;
$bp-new-medium-high: 1024px !default;
$bp-new-large: 1280px !default;
$bp-new-xlarge: 1440px !default;
$bp-new-homepage-max: 1500px !default;