.landing {
display: flex;
flex-direction: column;
align-items: center;
}
.landing-container {
    width: 100%;
    max-width: 1024px;
    padding: 0 1rem;
}
.landing-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.landing-item {
  display: flex;
  padding: 0.5rem 0;
  width: calc(100%/2);
}

.landing-itemIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #c2c1c1;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.landing-itemInfo {
    h6{
        font-size: 18px;
    font-weight: 600;
    }
}
.landing-span {
    font-size: 22px;
    font-weight: 800;
}
.landing-seccion {
    margin-bottom: 2rem;
    p {
        text-align: justify;
    }
}
.landing-inclusiones {
    margin-top: 1rem;
    li {
        padding: 0 1rem;
    }
}
.landing-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.landing-li {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: rgb(238, 193, 249);
    div {
        width: 100%;
        height: 20%;
        padding: 1rem;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
        i{
            font-size: 25px;
            margin-bottom: 0.5rem;
        }
        span {
          font-size: 22px;
        }
    }
    p {
        width: 100%;
        height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: .5rem;
        font-size: 14px;
    }
}
.landing-li:nth-child(2) {
    background-color: rgb(221, 253, 242);
}
.landing-li:nth-child(3) {
    background-color: rgb(239, 253, 158);
}
.landing-li:nth-child(4) {
    background-color: rgb(254, 146, 195);
}
.landing-li:nth-child(5) {
    background-color: rgb(254, 191, 146);
}
.landing-li:nth-child(6) {
    background-color: rgb(157, 251, 163);
}
.no-include {
    background-color: rgb(191, 191, 191) !important;
}

.landing-gallery {
  width: 100%;
  max-width: 1024px;
  padding: 0 1rem;
}

.landing-img {
  margin-bottom: 0.5rem;
  
  img {
    border-radius: 1rem;
  }
}
@include breakpoint('medium') {

  .landing-container {
    width: 100%;
    display: flex;
    gap: 4rem;
  }

  .landing-about {
    width: 70%;
  }

  .landing-info {
    gap:0;
  }

  .landing-card {
    position:sticky;
  }

  .landing-gallery {
    display: flex;
  }

  .landing-photoPrincipal {
    width: 50%;
  }

  .landing-photos {
    width: 50%;
  }

  .landing-photo {
    display: flex;
  }

  .landing-img {
    margin-bottom: 0rem;
    padding: 0.1rem;
  }

  .landing-li {
    width: calc(95%/2);
  }

  .landing-item {
    width: calc(100%/3);
  }
}

@include breakpoint('medium-high') { 
  .landing-li {
    width: calc(95%/3);
  }
}